/* div{
    color : red;
}
#username{
    font-size: 30px;
    color : green;
}
.para{
    border :8px solid yellow;
} */

/* div{
    padding : 16px;
    border : 2px solid;
    margin : 16px;
} */

.abc, .xyz{
    border : 1px solid;
    margin-bottom : 16px;
}